
<div class="container">
  <h2> Our Staff</h2>
  <% if can? :create, @staff %>
   
        <%= link_to 'Add New Salon Employee', new_staff_path, class: "btn btn-default" %>
        <br>
        <br>
  
  <% end %>




      
    <div class="row">

      <% @staffs.each do |staff| %>
      <div class="staff-panel">
        <div class="col-sm-6 col-md-5 col-lg-4">
          <div class="panel panel-default">
              <div class="panel-heading">
               <center> <%= image_tag staff.profile_picture.url(:medium)%></center>
              </div>
              <div class="panel-body">
                 <h3><center> <%= link_to staff.name, staff, class: "caption"%></center></h3>
                 <hr>
                 <p><center> <%= staff.expertise %></center></p>
                 <hr>
                 <p><center> <%= staff.description %></center></p>

                  
                    <hr>
                        <% if can? :update, staff %>
                          <%= link_to 'Edit', edit_staff_path(staff), class: "btn btn-default" %>
                        <% end %>
                        <% if can? :destroy, staff %>
                          <%= link_to 'Delete', staff, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                        <br>
                        <%end %>
                   
             </div>
        </div>
      </div>
  </div>
      <% end %>


  <br>
      </p></div>

  <%= link_to 'Back', :back , class: "btn btn-default" %>
</div>