<div id="background-home">
	<div class="wrapper_wide">
		<header class="cf">
		<%= link_to "Heads", root_path, id: "logo" %>
		<nav>
			<ul>
				<li><%= link_to "Products", products_path %></li>
				<li><%= link_to "Services", services_path %></li>
				<li><%= link_to "Calendar", appointments_path %></li>
			</ul>
		</nav>
		</header>
	</div>
	<h1> Lorem Impsumm Dimsum is the Best impsum.<br> Lorem askap kerpom martoll</h1>

	<%=link_to "Login", new_user_session_path, class: "button button_highlight"%>
	<%=link_to "Register", new_user_registration_path, class: "button button_white"%>
	</header>