<div class="container">
  <p class=""><h2 class="">Services
 <% if can? :create, @service %>
      <%= link_to 'Add New Offered Service', new_service_path, class: "btn btn-default", style: "float:right;" %>
    <%end %>
    </h2>
</p>

<table class="table table-striped">
 
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      
    </tr>

    <% @services.each do |service| %>
      <tr>
        <td> <%= image_tag service.image.url(:thumb), class: "image-rounded"%></td>
        <td><%= link_to service.name, service%></td>
        <td>Php <%= service.price %>0</td>
        <td> <%= service.category.name %></td>
      <% if can? :update, @service %>
          <td><%= link_to 'Edit', edit_service_path(service) %></td>
      <% end %>
      <% if can? :destroy, @service %>
          <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
<%= will_paginate @service, renderer: BootstrapPagination::Rails %>
</table>

<br>
    

<%= link_to 'Back', :back , class: "btn btn-default" %>
</div>