<p id="notice"><%= notice %></p>

<div class="row">
<div class="">
	<strong>Service:</strong>
  <%= @service.name %>
  <strong>Price:</strong>
  <%= @service.price %>
</p>
<% if user_signed_in? %>
   <% if current_user.email == "jerrome@example.com"%>
<%= link_to 'Edit', edit_service_path(@service), class: "btn btn-default" %> |
<%= link_to 'Back', services_path, class: "btn btn-default" %>
<% end %>
<% end %>