<div class="container">
<p>
  <strong>Date:</strong>
  <%= @appointment.date.strftime("%B %d") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time.strftime("%I: %M %p") %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.user.first_name %> <%= @appointment.user.last_name %>
</p>
<p>
  <strong>Contact Number:</strong>
  <%= @appointment.user.contactnumber %>
</p>
<% if can? :update, @appointment %>
	<%= link_to 'Reschedule', edit_appointment_path(@appointment) %> |
<% end %>

<% if can? :destroy, @appointment %>
	<%= link_to 'Delete', @appointment, method: :delete, data: {confirm: "Are you sure?"} %> |
<% end %>

	<%= link_to 'Back', appointments_path %>
</div>