<%= form_tag products_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<div class="container">
  <p class=""><h2 class="">Product
 <% if can? :create, @product %>
      <%= link_to 'Add New Offered Product', new_product_path, class: "btn btn-default", style: "float:right;" %>
    <%end %>
    </h2>
</p>


  <table class="table table-striped">
   
      <tr>
        <th> </th>
        <th><%= link_to "Name",       :sort => "name" %></th>
        <th><%= link_to "Price",      :sort => "price" %></th>
        <th><%= link_to "Category",   :sort => "category.id"%> </th>
        <th><%= link_to "Availability",:sort => "availability"%> </th>
        
      </tr>

      <% @products.each do |product| %>
        <tr>
          <td> <%= image_tag product.image.url(:thumb), class: "image-rounded"%></td>
          <td><%= link_to product.name, product%></td>
          <td>Php <%= product.price %>0</td>
          <td><%= product.category.name %> </td>
          <td><% if product.availability == true %>
                    <font color="green">Available</font>
                     <%else %>
              <font color="red">Not Available</font>
              <% end %></td>
      <% if can? :update, @product %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <% end %>
      <% if can? :destroy, @product %>
          <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
        </tr>
      <% end %>
    <%= will_paginate @product, renderer: BootstrapPagination::Rails %>
  </table>

  <br>
      

  <%= link_to 'Back', :back , class: "btn btn-default" %>
</div>