<div class="well well-lg">
	<div class="row">
		<div class="col-md-4 col-sm-4">
		<%= image_tag @product.image.url(:medium), class: "image-rounded" %>
		</div>
			<div class="col-md-offset-5 col-sm-offset-5">
				<h4><strong>Name:</strong>		<%= @product.name %></h4>
				<h4><strong>Price:</strong>	<em>Php <%= @product.price %>0</em></h4>
				<h4><strong>Product Availability:</strong> <strong><% if @product.availability == true %>
          			  <font color="green">Available</font>
           				 <%else %>
            <font color="green">Not Available</font>
            <% end %></strong></h4>			
            </div>
	</div>

	<% if user_signed_in? %>
		<% if current_user.email == "jerrome@example.com"%>
			<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
			<%= link_to 'Back', products_path, class: "btn btn-default" %>
	<% end %>
<% end %>
